<% layout('boilerPlate') -%>

<div class="container-fluid d-flex justify-content-center">

  <!-- left page -->
  <div class="col-6">

    <h1>Airline Search Page</h1><br>

    <div>
      <form action="/main/airlineSearch" method="GET">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Flight</span>
          </div>
          <input type="text" class="form-control" name="searchData" placeholder="Search Airline Name or Code such as 'OZ','SQ'">
          <button class="btn btn-dark">Search</button>
        </div>
      </form>
    </div>

    <br><br>

    <% if(typeof filteredData !== 'undefined') { %>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Airline</th>
          <th scope="col">Code</th>
          <th scope="col">ICAO</th>
          <th scope="col">Airline Master</th>
        </tr>
      </thead>
      <tbody>
        <% if(filteredData=='') { %>
        <tr>
          <th scope="row">None</th>
          <td>None</td>
          <td>None</td>
          <td>None</td>
          <td>None</td>
        </tr>
        <% } %>

        <% let i=1 %>
        <% for(data of filteredData) { %>
        <tr>
          <form action="/main/airlineSearch" method="POST">
            <th scope="row"><%=i++%></th>
            <td><input type="text" name="data[airline]" value="<%=data.Name%>" readonly style="border:none"></td>
            <td><input type="text" name="data[code]" value="<%=data.Code%>" readonly style="border:none"></td>
            <td><input type="text" name="data[icao]" value="<%=data.ICAO%>" readonly style="border:none"></td>
            <td>
              <button class='btn btn-success'>Add</button>
          </form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } else { %>
    <div class="d-flex justify-content-center"><img src="https://cdn-icons-png.flaticon.com/512/655/655851.png" class="w-50"></div>
    <% } %>
    <a href="/main">Back to main</a>

  </div>

  <!-- right page -->
  <div class="col-4">
    <h1>Airline List (DB)</h1><br>
    <div class="mb-3">The airlines below are saved in the Master Data Base.</div>

    <% for(airline of airlineList) { %>
    <div class="card mb-3" style="">
      <div class="row no-gutters">
        <div class="col-md-4 d-flex align-self-center justify-content-center">
          <img src="<%=airline.logo%>" alt="logo_img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%=airline.airline%></h5>
            <p class="card-text"><b>ICAO:</b> <%=airline.icao%> / <b>CODE:</b> <%=airline.code%></p>
          </div>
        </div>
      </div>
    </div>

    <% } %>


  </div>

</div>