<% layout('boilerPlate') -%>

<div class="container">

  <h1>Flight Search</h1><br>

  <div>
    <form action="/main/search" method="GET">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Flight</span>
        </div>
        <input type="text" class="form-control" name="searchData" placeholder="Search Airline code or Flight #">
        <button class="btn btn-dark">Search</button>
      </div>
    </form>
  </div>

  <br><br>

  <% if(filteredData !== '') { %>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Airline</th>
        <th scope="col">Flight #</th>
        <th scope="col">Route</th>
        <th scope="col">AC Type</th>
        <th scope="col">ICAO</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% if(filteredData=='') { %>
      <tr>
        <th scope="row">None</th>
        <td>None</td>
        <td>None</td>
        <td>None</td>
        <td>None</td>
        <td>None</td>
        <td>None</td>
        <td>None</td>
      </tr>
      <% } %>


      <% let i=1 %>
      <% for(let i=0; i<filteredData.length; i++) { %>
      <tr>
        <th scope="row"><%=i+1%></th>
        <td><img src="https://s3.eu-central-1.amazonaws.com/images.flightradar24.com/assets/airlines/logotypes/<%=filteredData[i].detail.logo.slice(3, 100)%>" alt="airline-logo"></td>
        <td><%=filteredData[i].detail.flight%></td>
        <td><%=filteredData[i].detail.route%></td>
        <td><%=filteredData[i].detail.ac_type%></td>
        <td><%=filteredData[i].detail.operator%></td>
        <td>

          <button class='btn btn-secondary' type="button" data-toggle="modal" data-target="#modal<%=i%>">Detail</button>
          <div class="modal fade" id="modal<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Flight Details</h5>

                </div>
                <div class="modal-body">
                  <p>Show the detailed information of the selected flight.</p>
                  Flight# : <%= filteredData[i].detail.flight%><br>
                  Origination : <%= filteredData[i].origin%><br>
                  Destination: <%= filteredData[i].destination%><br>
                  Departure: <%= filteredData[i].departure%><br>
                  Arrival : <%= filteredData[i].arrival%><br>

                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </td>
        <td>
          <form action="/main/search/flight_detail_and_order/<%=filteredData[i].id%>">
            <!-- data.id (from API) -->
            <button class='btn btn-success'>Order Input</button>
          </form>
        </td>
      </tr>
      <% } %>
      <!-- for loop end -->
    </tbody>
  </table>
  <% } else { %>

  <div class="d-flex justify-content-center"><img src="https://cdn-icons-png.flaticon.com/512/655/655851.png" class="w-50"></div>



  <% } %>

  <a href="/main">Back to main</a>

</div>